<!DOCTYPE html>
<html>
<head>
    <mata http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ escape(handler.settings["blog_title"]) }}</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{static_url("signin.css") }}">
    <link rel="stylesheet" href="{{static_url("blog.css") }}">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        {% block header %}
        {% end %}
    </header>
    <section>
        {% block section %}
        {% end %}
    </section>
    <footer>
        {% block footer %}
        {% end %}
    </footer>
</body>
</html>